<figure data-feedback="fb:none" data-mode="fullscreen">
  <img src="{{ image }}" />
  <figcaption class="op-extra-large op-center">
  <h1 class="op-vertical-top op-extra-large op-center">{{ toptitle }}</h1>
  {{{ subtitle }}}
  <cite class="op-center">{{ credit }}</cite>
  </figcaption>
</figure>